<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="" method="post">
    <label>Title</label><br>
    <div class="form-groups">
        <input type="text" name="inpTxt" autocomplete="off" class="form-control" > <br>
        <label>Post</label><br>
        <textarea name="inpPost"  class="form-control" cols="170" rows="10"></textarea>
        <br>
        <button type="submit" class="btn btn-primary" >Publish</button>
    </div>

</form>

<%- include('partials/footer'); -%>